---
import Layout from '../layouts/Layout.astro';

import '../styles/home.css'

import { Image } from "astro:assets"
import SamPatel from '../assets/sam-patel.png'

import ContactForm from '../components/ContactForm.astro'

import LinkedIn from '../components/svg/LinkedIn.astro'
import Facebook from '../components/svg/Facebook.astro'

import { RESUME_URL, FACEBOOK_URL, LINKEDIN_URL } from "../consts";
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="intro">
			<div class="base_width">
				<div class="content">
					<h1>Welcome to Sam's World of <span>Disruption and Success</span></h1>

					<h2>An outright positive, trusted, and accomplished management professional with 18+ years <span>global cross-sector experience.</span></h2>

					<div class="cta_ctnr">
						<a class="cta">Disrupt Your Game: <b>Connect With Sam</b>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</a>
					</div>
				</div>

				<Image src={SamPatel} class="sam_patel reveal" alt="Photo of Samit Patel" draggable="false"/>
			</div>
		</section>

		<div class="flex_sections">
			<section class="about_me">
				<h2>Who am I?</h2>

				<p><b>I'm not your typical suit-and-tie executive.</b> I provoke, disrupt, and thrive on pushing people beyond their "appropriate" selves. Just like Jamie Catto beautifully put it, I dance with masks until they slip, revealing the true, illuminating fun within.</p>

				<p>Gone are the days of buzzwords and flashy titles. My superpower? Making you unlearn, challenging the status quo, and having a blast while doing it. <span class="color">From nurturing new ideas to fostering partnerships and cultures, I'm here to shake things up.</span></p>
			</section>

			<section class="events">
				<h2>Events I'm attending</h2>

				<div class="content">
					<div class="card upcoming">
						<p class="date">12/05/2024</p>
	
						<h3>Adventures in Leadership: Balancing Work and Play</h3>
	
						<address>Aldenham Rd, WD23 2TD, London</address>
					</div>
	
					<div class="card">
						<p class="date">12/05/2024</p>
	
						<h3>Leadership Unplugged</h3>
	
						<address>Aldenham Rd, WD23 2TD, London</address>
					</div>
				</div>

				<a href="/events/">Check all events</a>
			</section>
		</div>

		<section class="quote base_width">
			<blockquote>
				<p>
					"<b>Sam provokes and disrupts, a wind-up merchant and a tail puller, a prodder 
					and a poker.</b> When he meets someone’s ‘appropriate’ mask his first impulse is to want to dance with them to the edge of their ‘appropriate’ version of themselves and <b>see what illuminating fun can be had when the mask slips.</b>"
				</p>
			</blockquote>
	
			<p>Client excerpt from <b class="red">Insanely Gifted</b> by <b class="blue">Jamie Catto</b></p>

			<div class="squares">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</section>

		<section class="get_in_touch base_width">
			<div class="content">
				<h2>Friends, family, clients, and colleagues have instilled in me a habitual drive to lead and help others succeed.</h2>

				<p>I generate ideas, transform them into actionable solutions, and collaborate with incredible minds at every organizational level. I've walked the path of risk, failure, and triumph, inspiring me to keep succeeding.</p>
			</div>

			<div class="contact">
				<div class="flex">
					<h2>Get in touch</h2>

					<div class="social">
						<a href={FACEBOOK_URL} class="icon" target="_blank" title="Find me on Facebook" aria-label="Find me on Facebook"><Facebook/></a>
						
						<a href={LINKEDIN_URL} target="_blank" class="icon" title="Find me on LinkedIn" aria-label="Find me on LinkedIn"><LinkedIn/></a>
					</div>
				</div>

				<div class="form_ctnr">
					<ContactForm/>
				</div>
			</div>
		</section>
		
		<section class="text base_width">
			<p>I'm proud to have collaborated with, invested in, led and trained <span class="blue">some of the most talented and amazing people from start-ups and charities to high-profile organisations and governments</span> to seize and conquer opportunities others didn't see or ever think possible in a manner that <span class="red">removes complexity to really get-shit-done.</span></p>

			<p class="small">If I can help you, you can help me or you just want to see some cool origami and have a laugh.</p>

			<a class="cta">Dare to Disrupt? Let's Craft Change
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</a>

			<a href={RESUME_URL} class="resume">Check my Resume</a>
		</section>
	</main>
</Layout>
