---
import Layout from '../layouts/Layout.astro';

import '../styles/home.css'

import { Image } from "astro:assets"
import SamPatel from '../assets/sam-patel.png'
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="intro">
			<div class="base_width">
				<div class="content">
					<h1>Welcome to Sam's World of <span>Disruption and Success</span></h1>

					<h2>An outright positive, trusted, and accomplished management professional with 18+ years <span>global cross-sector experience.</span></h2>

					<div class="cta_ctnr">
						<a class="cta">Disrupt Your Game: <b>Connect With Sam</b>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</a>
					</div>
				</div>

				<Image src={SamPatel} class="sam_patel reveal" alt="Photo of Samit Patel"/>
			</div>
		</section>
	</main>
</Layout>
