---

import '../styles/header.css'

import { RESUME_URL } from "../consts";

---

<header>
    <div class="width1">
        <a href="/" class="logo">
            Samit Patel
        </a>

        <nav>
            <a href="/">Home</a>

            <hr>

            <a href="/events/">Events</a>
            
            <hr>

            <a href="/blog/1">Blog</a>
            
            <hr>

            <!-- <a href={RESUME_URL} target="_blank">Resume</a> -->
            <a href="/contact/" class="cta">Get in touch</a>
        </nav>

        <button class="hambt" type="button" aria-label="Open navigation menu">
            <div class="ctnr">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
    </div>
</header>

<script>
    const menuBt = document.querySelector(".hambt");
    const nav = document.querySelector("header nav");
    const navBts = document.querySelectorAll("header nav a");

    let showingMenu = false;

    function toggleNav() {
        if (showingMenu == false) {
            nav.classList.add("show");
            menuBt.classList.add("close");

            showingMenu = true;
        } else {
            nav.classList.remove("show");
            menuBt.classList.remove("close");

            showingMenu = false;
        }
    }

    menuBt.addEventListener("click", toggleNav);

    for (let i = 0; i < navBts.length; i++) {
        navBts[i].addEventListener("click", toggleNav);
    }

    window.addEventListener("scroll", function (e) {
        if (showingMenu == true) {
            toggleNav();
        }
    });
</script>