h1 {
    position: relative;
    font-size: clamp(9rem, 24vw, 12rem);
    font-weight: 750;
    color: var(--primary);
    margin-bottom: clamp(2rem, 5vw, 4rem);
}

h1 sub {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.3em;
    color: var(--dark);
}

.posts li .title {
    font-size: clamp(1.2rem, 6vw, 3rem);
    margin-block: 0.2rem clamp(0.3rem, 1vw, 0.6rem);
    color: var(--dark-a);
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.posts li a:hover .title {
    color:var(--primary-e);
    transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
}