---
interface Props {
	title: string;
}

const { title } = Astro.props;

import BaseHead from '../components/BaseHead.astro'

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import OQVABadge from '../components/OQVABadge.astro';
import Strip from '../components/Strip.astro';

---

<!doctype html>
<html lang="en">
	<BaseHead title={title}/>
	<body>
		<Strip/>
		<Header/>

		<slot />

		<Footer/>
		<Strip/>
		<OQVABadge/>
	</body>
</html>